<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }} ">
    <title>Baza Dannih</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="Name_input">Ваше имя:</label>
        <input type="text" name="Name_input" placeholder="Ожидание ввода" required><br><br>
        <label for="Email_input">Ваш email:</label>
        <input type="email" name="Email_input" placeholder="Ожидание ввода" required><br><br>
        <label for="Password_input">Ваш пароль:</label>
        <input type="password" name="Password_input" placeholder="Ожидание ввода" required><br><br>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>