<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Warning</title>
</head>
<body>
    <form action="" method="post">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit?</h1>
        <label>Enter answer: </label>
        <input type="text" name="answer">
        <button type="submit">Let's go</button>
    </form>
</body>
</html>